.markdown h2 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #e1e1e1;
}

.markdown h1 {
  font-size: 30px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: solid 1px #e1e1e1;
}

.markdown code{
  width: fit-content;
}

